<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartCpdApp.quizApp.home.title">Quiz Apps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz-app" [routerLink]="['/quiz-app/new']" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="smartCpdApp.quizApp.home.createLabel">
            Create new Quiz App
            </span>
        </button>
    </h2>
</div>
<div>
    <div *ngIf="quizApp">
            <div class="row">
                <p><strong><span>Q.{{currentQuestion}} of {{questions.length}} => {{questions[currentQuestion].textQuestion}}</span></strong></p>
            </div>
            <div *ngIf="proceed || currentQuestion === 1">
                <div class="col-md-6" *ngFor="let option of questions[currentQuestion].choices">
                    <div class="option">
                        <label [attr.for]="option.Id">
                            <input id="{{option.Id}}" type="checkbox" [(ngModel)]="option.Id" (change)="onSelect(question, option);" />
                            {{option.textChoice}}
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="iscorrect" class="row" style="background-color: #ff9980;">
                <p><strong><span>{{message}}</span></strong></p>
            </div>
            <div *ngIf="!iscorrect" class="row" style="background-color: #b3ffe0;">
                <p><strong><span>{{message}}</span></strong></p><br><hr><br>
                <p><strong><span>{{restudy}}</span></strong></p>
            </div>
            <div *ngIf="!isselected" class="row" style="background-color: #ffffcc;">
                <p><strong><span>{{message}}</span></strong></p>
            </div>
    </div>
</div>
