<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quizApp">
            <h2><span jhiTranslate="smartCpdApp.quizApp.detail.title">Quiz App</span> {{quizApp.id}}</h2>
            <hr>
            <p *ngIf="questions == null">is null</p>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartCpdApp.quizApp.quiz">Quiz</span></dt>
                <dd>
                    <div *ngIf="quizApp.quiz">
                        <a [routerLink]="['/quiz', quizApp.quiz?.id, 'view']">{{quizApp.quiz?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="quizApp.customer">
                        <a [routerLink]="['/customer', quizApp.customer?.id, 'view']">{{quizApp.customer?.normalized}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.currSection">Curr Section</span></dt>
                <dd>
                    <div *ngIf="quizApp.currSection">
                        <a [routerLink]="['/section', quizApp.currSection?.id, 'view']">{{quizApp.currSection?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.newSection">New Section</span></dt>
                <dd>
                    <div *ngIf="quizApp.newSection">
                        <a [routerLink]="['/section', quizApp.newSection?.id, 'view']">{{quizApp.newSection?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.quizApp.question">Question</span></dt>
                <dd>
                    <span *ngFor="let question of quizApp.questions; let last = last">
                        <a [routerLink]="['/question', question?.id, 'view' ]">{{question.textQuestion}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quiz-app', quizApp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
