<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="certificate">
            <h2><span jhiTranslate="smartCpdApp.certificate.detail.title">Certificate</span> {{certificate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartCpdApp.certificate.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{certificate.timestamp}}</span>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.certificate.pdf">Pdf</span></dt>
                <dd>
                    <div *ngIf="certificate.pdf">
                        <a (click)="openFile(certificate.pdfContentType, certificate.pdf)" jhiTranslate="entity.action.open">open</a>
                        {{certificate.pdfContentType}}, {{byteSize(certificate.pdf)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.certificate.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="certificate.customer">
                        <a [routerLink]="['/customer', certificate.customer?.id, 'view']">{{certificate.customer?.normalized}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartCpdApp.certificate.courses">Courses</span></dt>
                <dd>
                    <div *ngIf="certificate.courses">
                        <a [routerLink]="['/course', certificate.courses?.id, 'view']">{{certificate.courses?.normCourses}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/certificate', certificate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
