<div *ngIf="pageNum == lastpageNum" class="alert alert-success" role="alert" >
    <span>
        This is the last slide, after reviewing this material you can attempt the mandatory module quiz
    </span>
</div>
<div *ngIf="isComplete === true" class="alert alert-success" role="alert" >
    <span>
        You have completed this video module in {{completed}}
    </span>
</div>
<div *ngIf="section" class="row">
    <div class="col-3" style="margin-top:70px;">
        <div *ngIf="section.type === 'pdf'" class="row" style="border-top: 1px solid; padding-bottom: 25px; padding-top: 25px; border-bottom: 1px solid;">
            <div *ngIf="pageNum !== 1 && pageNum < lastpageNum" class="col-4 alert alert-warning" role="alert"><a (click)="prevPage();">Previous Slide</a></div>
            <div *ngIf="pageNum < lastpageNum" style="margin-left: 10px;" class="col-4 alert alert-info" role="alert"><a (click)="nextPage();">Next Slide</a></div>
            <div *ngIf="pageNum === lastpageNum" class="col-4 alert alert-success" role="alert"><a (click)="moveToQuiz();">Attempt Quiz!</a></div>
        </div>
        <div *ngIf="section.type === 'mp4' && isComplete === false" class="row" style="border-top: 1px solid; padding-top: 25px;">
                <div class="col-4 alert alert-warning" role="alert"><a (click)="onPlay();">Play  <fa-icon [icon]="'play'"></fa-icon></a></div>
                <div style="margin-left: 10px;" class="col-4 alert alert-info" role="alert"><a (click)="onPause();">Pause  <fa-icon [icon]="'pause'"></fa-icon></a></div>
        </div>
        <div class="row" *ngIf="section.type === 'mp4' && isComplete === false">
            <div style="margin-left: 25px;" class="col-6 alert alert-primary" role="alert"><a (click)="onStepBackward30();">Go Back 30s  <fa-icon [icon]="'step-backward'"></fa-icon></a></div>
        </div>
        <div class="row" *ngIf="section.type === 'mp4' && isComplete === false">
            <div style="margin-left: 25px;" class="col-6 alert alert-info" role="alert"><a (click)="onStepBackward60();">Go Back 60s  <fa-icon [icon]="'step-backward'"></fa-icon></a></div>
        </div>
        <div class="row" *ngIf="section.type === 'mp4' && isComplete === false">
            <div style="margin-left: 25px;" class="col-6 alert alert-success" role="alert"><a (click)="onStepBackward300();">Go Back 5min  <fa-icon [icon]="'fast-backward'"></fa-icon></a></div>
        </div>
        <div class="row" *ngIf="section.type === 'mp4' && isComplete === false" style="padding-bottom: 25px; border-bottom: 1px solid;">
            <div style="margin-left: 25px;" class="col-6 alert alert-danger" role="alert"><a (click)="onReset();">Reset Video  <fa-icon [icon]="'fast-backward'"></fa-icon></a></div>
        </div>
        <div *ngIf="section.type === 'mp4' && isComplete === true" class="row" style="border-top: 1px solid; padding-top: 25px; padding-bottom: 25px; border-bottom: 1px solid;">
            <div class="col-4 alert alert-success" role="alert"><a (click)="moveToQuiz();">Attempt Quiz!</a></div>
        </div>
        <div class="row" style="padding-top: 25px;">
            <span>
                <h6>Timer: {{ellapsedTime}}</h6>
            </span>
        </div>
        <div *ngIf="section.type === 'pdf'" class="row" style="margin-top: 10px; border-top: 1px solid; padding-bottom: 25px; padding-top: 25px; border-bottom: 1px solid;">
            <label for="goto-page">Page/Slide Number:&ensp;</label><br>
            <input id="goto-page" name="pageNum" pInputText type="number" size="4" [(ngModel)]="pageNum">
        </div>
        <div class="row" *ngIf="section.type === 'pdf'">
            <div class="col-10 justify-content-center">
                <h3 style="padding-left: 20px; padding-top: 15px;">Bookmarks</h3>
            </div>
        </div>
        <div class="row" *ngIf="section.type === 'mp4'" style="border-top: 1px solid;">
            <div class="col-10 justify-content-center">
                <h3 style="padding-left: 20px; padding-top: 15px;">Bookmarks</h3>
            </div>
        </div>
        <div class="row" *ngFor="let bookmks of bookmarks" style="padding-bottom: 25px; border-bottom: 1px solid;">
            <div class="col-10 justify-content-center">
                    <ul *ngIf="bookmks.module === section.name && section.type === 'pdf'">
                        <li>
                            <a (click)="referSlide(bookmks.slide);">{{bookmks.text}} @ Slide#{{bookmks.slide}}</a>
                        </li>
                    </ul>
                    <ul *ngIf="bookmks.module === section.name && section.type === 'mp4'">
                        <li *ngIf="bookmks.seconds <= currentTime || comingAgainFlag"><a (click)="referVideo(bookmks.timestamp);">{{bookmks.text}} @ {{bookmks.timestamp}}</a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div *ngIf="section.type === 'pdf'" class="col-9">
        <form novalidate>
            <pe-steps>
                <pe-step label="Slides">
                    <h2>{{section.normSection}}</h2>
                    <h5>{{section.name}}, Page# is {{pageNum}}</h5>
                    <hr>
                    <pdf-viewer [src]="section.pdfUrl"
                                [show-all]="false"
                                [fit-to-page]="true"
                                [original-size]="false"
                                [autoresize]="true"
                                [render-text]="false"
                                [(page)]="pageNum">
                    </pdf-viewer>
                </pe-step>
                <pe-step label="Module Info"></pe-step>
            </pe-steps>
        </form>
    </div>
    <div *ngIf="section.type === 'mp4'" class="col-9">
        <form novalidate>
            <pe-steps>
                <pe-step label="{{section.normSection}}">
                    <h5>{{section.name}}</h5>
                    <hr>
                    <vg-player (onPlayerReady)="onPlayerReady($event);" >
                        <vg-buffering [vgFor]="video"></vg-buffering>
                        <vg-controls>
                            <vg-playback-button [vgFor]="video" [playbackValues]="[ '1.0', '2.0', '4.0' ]">Speed</vg-playback-button>
                            <vg-time-display [vgFor]="video" [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
                            <vg-time-display [vgFor]="video" [vgProperty]="'left'" [vgFormat]="'mm:ss'"></vg-time-display>
                            <vg-time-display [vgFor]="video" [vgProperty]="'total'" [vgFormat]="'mm:ss'"></vg-time-display>
                            <vg-mute [vgFor]="video">Mute</vg-mute>
                            <vg-volume [vgFor]="video">Volume</vg-volume>
                        </vg-controls>
                        <video #media
                               width="100%"
                               [vgMedia]="media"
                               id="video"
                               preload="auto"
                               autoplay='true'
                               src="{{section.videoUrl}}"
                               crossorigin>
                        </video>
                    </vg-player>
                    <div *ngIf="section.type === 'mp4'" class="row" style="margin-top: 25px;">
                        <div class="col-1.8 alert alert-warning" role="alert"><a (click)="onPlay();">Play  <fa-icon [icon]="'play'"></fa-icon></a></div>
                        <div style="margin-left: 5px;" class="col-2 alert alert-info" role="alert"><a (click)="onPause();">Pause  <fa-icon [icon]="'pause'"></fa-icon></a></div>
                        <div style="margin-left: 5px;" class="col-2 alert alert-primary" role="alert"><a (click)="onStepBackward30();">Go Back 30s  <fa-icon [icon]="'step-backward'"></fa-icon></a></div>
                        <div style="margin-left: 5px;" class="col-2 alert alert-info" role="alert"><a (click)="onStepBackward60();">Go Back 60s  <fa-icon [icon]="'step-backward'"></fa-icon></a></div>
                        <div style="margin-left: 5px;" class="col-2 alert alert-success" role="alert"><a (click)="onStepBackward300();">Go Back 5min  <fa-icon [icon]="'fast-backward'"></fa-icon></a></div>
                        <div style="margin-left: 5px;" class="col-2 alert alert-danger" role="alert"><a (click)="onReset();">Reset Video  <fa-icon [icon]="'fast-backward'"></fa-icon></a></div>
                    </div>
                </pe-step>
            </pe-steps>
        </form>
    </div>
</div>
